
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$sidebar: #2f2f2f;
$sidebar-hover: #262626;
$sidebar-color: #fff;
$link-color-light: #fff;