#app {
    
    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 3vw auto;
        grid-column-gap: 20px;
        grid-template-areas:
        "nav head"
        "nav main";
        height: 100vh;
    }
}

header {
    grid-area: head;
    text-align: right;
    padding: 5px 10px;
}

.main {
    padding: 1em;
    grid-area: main;
}