.settings-container {
    aside {
        li {
            list-style-type: none;
            &.active a {
                color: #fff;
                background: $sidebar-link-bg-hover;
            }
        }
        a {
            display: block;
            padding: 0.5em 1em;
            background:$sidebar-bg;
        }
    }        
}